body{
	margin: 0;
    background-color: #f5eded;
	// font-family: 'baron_neueregular';
}
	.containery{
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		// overflow: auto;
		&.full-strech{
			@media (max-width: 768px){
				padding-right: 0;
				padding-left: 0;
			}
		}
		@media (min-width: 768px){
			width: 750px;
		}
		@media (min-width: 992px){
			width: 970px;
		}
		@media (min-width: 1200px) {
			width: 1170px;
		}
	}

	.containery-border{
		@include breakpoint(grid){
			border: 2px solid #f5eded;
		};
}

	.containery-about {
		background-color: white;
		border: 2px solid #f5eded;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
		@include breakpoint(mobile){
			padding: 15px;
		}
		@include breakpoint(tablet){
			padding: 0px;
		}
		@include breakpoint(grid){
			padding: 40px;
		}
	}


p{
	margin: 0 0 5.5px;
	font-size: 12px;
	font-family: 'roboto';
	color: #333;
	@include breakpoint(grid){
		font-size: 14px;
	}
}

.recharts-surface{
	background-color: #2a333a;
}
.recharts-y-axis{
	background-color: #1f252a;
}
.rating-chart-wrapper{
	width: 100%;
	background-color: #f6f4f4;
	padding-top: 20px;
	.rating-chart{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		height: 350px;
		background-color: #fff;
	}
}
.hotel-grid{
	position: relative;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 60px;
	background: #fff;
	overflow: auto;
}

a {
	word-wrap: break-word;
	color: #333;
}

section{
	width: 100%;
	max-width: 1270px;
	padding: 50px;
	border-bottom: 1px solid #fefefe;
	background: #fff;
	margin: 0 auto;

		.divider{
			padding: 10px 0;
		}

		@include breakpoint(tablet){
			padding: 20px;
		}
}

section p.section-kind{
	font-size: 16px;
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid #eee;
}

img{ max-width: 100%; }

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	// transform: translateZ(0);
}

.clearfix:before,
.clearfix:after { display: table; content: ''; }

.clearfix:after { clear: both; }





.box-view{
	position: relative;
    width: 100%;
    min-height: 50vh;
    overflow: auto;
    background-color: #f5eded;
}

.load-more-wrapper{
    display: block;
	min-height: 60px;
    margin: 30px 0;
    .load-more{
        display: block;
        margin: 0 auto;
        background-color: #1d1d1d;
        width: 218px;
        height: 60px;
        border: 1px solid #c62750;
        outline: none;
        font-size: 12px;
        text-align: center;
        color: #fff;
        font-family: 'baron_neueregular';
        letter-spacing: 3px;
		cursor: pointer;
    }
	.sp{
		display: none;
	}
	&.loading{
		.load-more{
			display: none;
		}
		.sp{
			display: block;
		}
	}
}
.BoxView{
    width: 100%;
    height: 100vh;
    background-color: #68FF00;
}
.MapView{
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
	margin: 50px 50px;
    background-color: #EDAE00;
}


.header-wrapper{
  width: 100%;
	display: flex;
	flex-direction: column;
  height: calc(65vh + 53px);
	background: url(assets/images/sg-hero-image.jpg);
	background-repeat: no-repeat;
	background-position: 50% 20%;
	background-size: cover;
	margin-bottom: -53px;
	background-position: center bottom;
	.slick-next
	{
		display: none!important;
	}

	.slick-prev
	{
		display: none!important;
	}
		@include breakpoint(tablet){
			height: 60vh;
			margin-bottom: 0;
		}
	}

	.header-logo{
		width: 100%;
		height: 100%;
		flex: 1;
		text-align: center;
		margin-bottom: 1vh;
		img {
			margin-top: 15vh;
			width: 55vh;
			@include breakpoint(mobile) {
				width: 52vh!important;
			}
		}
}

	.heroFadeShow {
		flex: 0;
		margin-bottom: 35vh;
		text-align: center;
		.slick-list {
			padding: 0!important;
			}
		}

.heroText {
	flex: 0;
	margin: auto;
	line-height: 0.9;
	font-weight: 400 !important;
	text-transform: uppercase!important;
	@include breakpoint(smallscreen) {
		width: 40vh;
	}
	.small {
		font-family: 'baron_neueregular';
		font-size: 2.5vmax;
		color: #000!important;
	}
	.large {
		font-family: 'baron_neueregular';
		font-size: 2.8vmax;
		color: #000!important;
	}
}


//If an image instead of text in heroText
	// .heroText img {
	// 	flex: 0;
	// 	margin: auto;
	// 		@include breakpoint(smallscreen) {
	// 			width: 40vh;
	// 		}
	//  }

.footer{
    width: 100%;
	padding: 25px 0;
	overflow: auto;
	background: $collapsed-filters;
	ul{
		list-style: none;
		display: table;
		padding-left: 0;
	    margin-bottom: 0;
	    width: 100%;
	    float: left;
		li{
			width: 20%;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			a{
				color: #fff;
				img{
					width: 50%;
					height: auto;
				}
			}
			color: #fff;
			img{
				width: 50%;
				height: auto;
			}
		}
	}
}
.sp {
	width: 18px;
	height: 60px;
	clear: both;
	margin: 0px auto;
	padding-top: 21px;
}
/* Spinner 3Balls Scale */
.sp-3balls, .sp-3balls:before, .sp-3balls:after {

	border-radius: 50%;
	background-color: $active-filters;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	display: inline-block;
}
.sp-3balls {
	position: relative;
	background-color: rgba($active-filters,1);
	opacity: 1;
	-webkit-animation: spScaleAlpha 1s infinite linear;
	animation: spScaleAlpha 1s infinite linear;
}
.sp-3balls:before, .sp-3balls:after {
	content: '';
	position: relative;
	opacity: 0.25;
}
.sp-3balls:before {
	left: 30px;
	top: 0px;
	-webkit-animation: spScaleAlphaBefore 1s infinite linear;
	animation: spScaleAlphaBefore 1s infinite linear;
}
.sp-3balls:after {
	left: -30px;
	top: -23px;
	-webkit-animation: spScaleAlphaAfter 1s infinite linear;
	animation: spScaleAlphaAfter 1s infinite linear;
}
@-webkit-keyframes spScaleAlpha {
	0% { opacity: 1; }
	33% { opacity: 0.25; }
	66% { opacity: 0.25; }
	100% { opacity: 1; }
}
@keyframes spScaleAlpha {
	0% { opacity: 1; }
	33% {  opacity: 0.25; }
	66% { opacity: 0.25; }
	100% {  opacity: 1; }
}
@-webkit-keyframes spScaleAlphaBefore {
	0% { opacity: 0.25; }
	33% { opacity: 1; }
	66% { opacity: 0.25; }
}
@keyframes spScaleAlphaBefore {
	0% { opacity: 0.25; }
	33% { opacity: 1; }
	66% { opacity: 0.25; }
}
@-webkit-keyframes spScaleAlphaAfter {
	33% { opacity: 0.25; }
	66% { opacity: 1; }
	100% { opacity: 0.25; }
}
@keyframes spScaleAlphaAfter {
	33% { opacity: 0.25; }
	66% { opacity: 1; }
	100% { opacity: 0.25; }
}


.spin-container{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-wrapper{
    position: relative;
}
.spinner2 {
  position: relative;

  &::before,
  &::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: left top;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top-color: $active-filters;
    border-bottom-color: $active-filters;
    content: '';
  }

  &::before {
    padding: 20px;
    animation: spin-spinner2 1s infinite linear;
  }

  &::after {
    padding: 40px;
    animation: spin-spinner2 1.6s infinite linear reverse;
  }
}

@keyframes spin-spinner2 {
  from {
    transform: rotateZ(0deg) translate3d(-50%, -50%, 0);
  }

  to {
    transform: rotateZ(360deg) translate3d(-50%, -50%, 0);
  }
}
.total-result-wrapper{
	width: 100%;
	// min-height: 53px;
	background-color: #fff;
	@include breakpoint(tablet){
		// padding-top: 2rem;
		// padding-bottom: 2rem;
	}
	.total-result{
		p{
			color: #2d2f32;
			font-family: 'baron_neueblack';
			margin: 0;
			padding: 15px 0;
			font-size: 25px;
			span{
				color: $active-filters;
			}

		}
	}

    .introtext {

        p {
            font-size: 13px;
        }

        padding-bottom: 1rem;
    }
}
.scroll-top-btn{
	width: 50px;
	height: 50px;
	padding: 5px;
	background-color: $collapsed-filters;
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
	position: fixed;
	right: -60px;
	bottom: 10px;
	z-index: 20;
	transition: all .2s ease-in-out;

	img{
	    width: 20px;
	    position: relative;
	    top: -1px;
	}

	svg{
		width: 30px;
		height: auto;
		polyline{
			fill:none;
			stroke:#fff;
			stroke-miterlimit:10;
			stroke-width:10px;
		}
	}
	&:hover{
		svg{
			polyline{
				stroke: $active-filters;
			}
		}
	}
	&.show{
		right: 10px;

	}
	&.stick{
		position: absolute;
	}
}
