@mixin hotel-item-button {
    background: $button-bg;
    color: $button-font-color;
    display: inline-block;
    padding: 18px 45px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
}

.button{
	@include hotel-item-button;
    &.border{
        border: 1px solid $button-font-color;
    }
}
.filter-button{
    float: left;
    height: 53px !important;
    font-family: 'baron_neueregular';
    width: 207px;
    color: $button-font-color;
    padding: 16px 40px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
    span{
        display: none;
        pointer-events: none;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
        float: none;
        padding: 10px 0;
        img{
            height: 33px;
            width: auto;
        }
    }
    @include breakpoint(tablet){
        width: 50%;
        padding: 0px;
        .desktop{
            display: none;
        }
        .mobile{
            display: block;
            float: none;
            margin: 0 auto;
      }
    }
    &.slidedown{
        background-color: $collapsed-filters;
        border-bottom: 1px solid #000;
        .desktop{
            .no-filter{
                display: inline-block;
                padding: 0px 1px;
            }
            .yes-filter{
                display: none;
            }
        }
    }
    &.slideup{
        background-color: $button-bg;
        border-bottom: 1px solid $collapsed-filters;
        .desktop{
            .no-filter{
                display: inline-block;
                padding: 0px 1px;
            }
            .yes-filter{
                display: none;
            }
        }
    }
    &.active{
        background-color: $active-filters;
        border-bottom: 1px solid #A61D40;
        .desktop{
            .no-filter{
                display: none;
            }
            .yes-filter{
                display: inline-block;
                padding: 0px 7px;
            }
        }
    }
}

.mapview-button,
.boxview-button{
    position: relative;
}
.view-buttons-wrapper{
    float: left;
    width: 53px;
    height: 53px;
    @include breakpoint(tablet){
        width: 50%;
    }
    .mapview-button,
    .boxview-button{
        width: 53px;
        height: 53px;
        background: $searchbutton-bg;
        border: none;

        @include no-outline;


        @include breakpoint(tablet){
            width: 100%;
            &::before{
                top: 10px;
                width: 33px;
                height: 33px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}


.mapview-button{
    background: $mapviewbutton-bg;
    cursor: pointer;
    vertical-align: baseline;
    border: 1px solid $mapviewbutton-bg;

    &::before{
        content: '';
        position: absolute;
        background: url(assets/images/icons/map-icon.png) no-repeat;
        background-size: 100%;
        width: 30px;
        height: 29px;
        top: 12px;
        left: 12px;
    }
}

.boxview-button{
    background: $mapviewbutton-bg;
    cursor: pointer;
    vertical-align: baseline;
    border: 1px solid $mapviewbutton-bg;

    &::before{
        content: '';
        position: absolute;
        background: url(assets/images/icons/box-icon.png) no-repeat;
        background-size: 100%;
        width: 30px;
        height: 30px;
        top: 11px;
        left: 11px;
    }
}
