.controll-panel{
	position: relative;
	// top: -53px;
	// overflow: auto;
	&-top-part{
		// overflow: auto;
		.controll-panel-top-wrapper{
		    display: block;
		    text-align: center;
		    margin: 0px auto;
			// height: 53px;
			background-color: #fff;
			.controll-panel-top{
				&::after {
				   content: " ";
				   display: block;
				   height: 0;
				   clear: both;
				}
			    padding: 0px;
				// div{
			    //     float: left;
			    // }
			}
		}
	}
	&-bottom-part{
		background: #fff;
		height: 53px;
		.controll-panel-bottom-wrapper{
		    display: block;
		    text-align: center;
		    margin: 0px auto;
			position: relative;
			.order-bar-wrapper{
				.order-bar{
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					.orderbtn{
						display: block;
						margin: 0 auto;
						background-color: $button-bg;
						width: calc(100% / 3);
						height: 53px;
						border: none;
						border-bottom: 1px solid $collapsed-filters;
						outline: none;
						font-size: 12px;
						text-align: center;
						color: #fff;
						font-family: 'baron_neueregular';
						letter-spacing: 3px;
						cursor: pointer;
						&:hover{
							background-color: $collapsed-filters;
							border-bottom: 1px solid #000;
						}
						&.active{
							background-color: $active-filters;
							border-bottom: 1px solid #A61D40;
							&:hover{
								background-color: $active-filters;
								border-bottom: 1px solid #A61D40;
							}
						}
					}
				}
			}
		}
	}
}
.filter-panel{
	position: absolute;
	top: 100%;
	right: 0;
	height: auto;
	width: 100%;
	background-color: #1d1d1d;
	z-index: 15;
}
.filter-panel{
	-webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);

	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease;
	transition: transform 0.3s ease;
	&.opened{
		-webkit-transform: scaleY(1);
		-o-transform: scaleY(1);
		-ms-transform: scaleY(1);
		transform: scaleY(1);

	}
	.filter-panel-header{
		padding: 35px;
		p{
			text-align: center;
			color: #999999;
			font-size: 14px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
		}
		.filter-panel-result-wrapper{
			width: 100%;
			background-color: #1d1d1d;
			.filter-panel-result{
				display: none;
				min-height: 72px;
				padding-top: 28px;
				.filter-tags{
					display: inline-block;
					color: #fff;
					padding: 0 5px;
					font-size: 14px;
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
					.pinku{
						color: #c62750;
						// -ms-transform: rotate(45deg); /* IE 9 */
						// -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
						// transform: rotate(45deg);
						// margin-right: 5px;
						// cursor: pointer;
					}
				}
				&.active{
					display: block
				}
			}
		}
	}
	.section-wrapper:nth-child(2){
		.section-curtain{
			background-color: #1d1d1d;
			cursor: pointer;
		}
	}
	.section-wrapper:nth-child(3){
		.section-curtain{
			background-color: #252525;
			cursor: pointer;
		}
	}
	.section-wrapper:nth-child(4){
		.section-curtain{
			background-color: #363636;
			cursor: pointer;
		}
	}
	.section-wrapper{
		position: static;
		.section-curtain{
			width: 100%;
			padding: 20px 50px;
			border: none;
			outline: none;
			@include breakpoint(tablet){
		        padding: 20px 20px;
		    }
			h3{
				display: inline-block;
				width: 50%;
				text-align: left;
				clear: both;
				font-family: 'baron_neueregular';
				color: #fff;
				font-size: 16px;
			}
			p{
				display: inline-block;
				width: 50%;
				text-align: right;
				position: relative;
				color: #c62750;
				font-family: 'baron_neueregular';
				font-weight: 100;
				font-size: 12px;
				@include breakpoint(tablet){
			        padding-right: 20px;
			    }
				&:after{
					content: '';
					position: absolute;
					top: 2px;
					right: -15px;
					width: 5px;
					height: 10px;
					background: url(assets/images/icons/back-link-arrow-active.png);
					background-repeat: no-repeat;
					background-size: 4px 10px;
					transform: rotate(360deg);
					transition: transform .3s ease;
					@include breakpoint(tablet){
				        right: 0;
				    }
				}
				&.opened{
					&:after{
						-ms-transform: rotate(90deg); /* IE 9 */
						-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
						transform: rotate(90deg);
					}
				}
				&.closed{
					&:after{
						-ms-transform: rotate(-90deg); /* IE 9 */
						-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
						transform: rotate(-90deg);
					}
				}
			}
		}
		.panel-section-wrapper{
			overflow: hidden;
			height: 0px;
			transition: height 0.5s;
			.panel-section{
				overflow: auto;
				padding: 0 50px;
				padding-top: 10px;
				display: flex;
				flex-direction: row;
				align-content: space-between;
				flex-wrap: wrap;
				@include breakpoint(tablet){
			        padding: 0 20px;
					padding-top: 20px;
			    }
				.checkbox-wrapper{
				  padding-bottom: 10px;
				  width: 33.333%;
				  @include breakpoint(tablet){
					width: 50%;
				  }
				  input[type="checkbox"]{display: none;}
				  input[type="checkbox"] + label span{
					display:inline-block;
					width:16px;
					height:16px;
					cursor:pointer;
					border: 1px solid #fff;
					position: relative;
					vertical-align: middle;
					margin-right: 5px;
					@include breakpoint(tablet){
				        display: block;
						margin: 0 auto;
				    }
				  }
				  input[type="checkbox"] + label p{
					display:inline-block;
					width: calc(100% - 21px);
					float: right;
					text-align: left;
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
					text-transform: capitalize;
					position: relative;
						top: 4px;
						color: #ccc;

					@include breakpoint(tablet){
				        width: 100%;
						text-align: center;
				    }
				  }
				  input[type="checkbox"] + label{
					text-transform: none;
					font-size: 12px;
					font-weight: normal;
					color: #fff;
					width: 100%;
				  }
				  input[type="checkbox"]:checked + label{
					text-transform: none;
					font-size: 12px;
					font-weight: normal;
				  }
				  input[type="checkbox"] + label span{
					background-color: #1d1d1d;
				  }
				  input[type="checkbox"]:checked + label span{
					background-color: #c62750;
				  }
				}
			}
		}
	}
	.filter-panel-footer{
		padding: 50px;
		.panel-btn-wrapper{
			width: 100%;
			text-align: center;
			margin-bottom: 25px;
			.panel-btn:nth-child(1){
				background-color: #c62750;
				// margin-right: 5px;
			}
			.panel-btn:nth-child(3){
				background-color: #1d1d1d;
				// margin-left: 5px;
			}
			.panel-btn{
				@media screen and (max-width: 624px) {
					display: block;
					margin: 0 auto;
				}
				@media screen and (min-width: 625px) and (max-width: 991px) {
					display: inline-block;
				}
				@media screen and (min-width: 992px) and (max-width: 1170px) {
					display: block;
					margin: 0 auto;
				}
				@media screen and (min-width: 1171px) {
					display: inline-block;
				}

				width: 218px;
				height: 60px;
				border: 1px solid #c62750;
				outline: none;
				font-size: 12px;
				text-align: center;
				color: #fff;
				font-family: 'baron_neueregular';
				letter-spacing: 3px;
				cursor: pointer;
			}
			.btn-devider{
				padding: 0 5px;
			}
		}
		p{
			text-align: center;
			color: #999999;
			font-size: 12px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
		}
	}
}
