
@font-face {
    font-family: 'baron_neueregular';
    src: url('./assets/fonts/baron_neue/baron-neue-webfont.woff2') format('woff2'),
         url('./assets/fonts/baron_neue/baron-neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baron_neue_boldbold';
    src: url('./assets/fonts/baron_neue/baron_neue_bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/baron_neue/baron_neue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baron_neue_italicitalic';
    src: url('./assets/fonts/baron_neue/baron_neue_italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/baron_neue/baron_neue_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baron_neueblack_italic';
    src: url('./assets/fonts/baron_neue/baron_neue_black_italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/baron_neue/baron_neue_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baron_neueblack';
    src: url('./assets/fonts/baron_neue/baron_neue_black-webfont.woff2') format('woff2'),
         url('./assets/fonts/baron_neue/baron_neue_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baron_neue_bold_italicBdIt';
    src: url('./assets/fonts/baron_neue/baron_neue_bold_italic-webfont.woff2') format('woff2'),
         url('./assets/fonts/baron_neue/baron_neue_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
