input:-webkit-autofill,
textarea:-webkit-autofill{
  background-color: none !important;
  color: rgb(255, 255, 255);
}

::-webkit-input-placeholder{
  color: rgba(27,27,27, .5);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#search-wrapper{
	width: 800px;
	max-width: 96%;
	margin: 10px auto;
}

.search{
	width: 800px;
    max-width: 100%;
    position: relative;
    padding: 0 70px 0 0;
    height: 70px;
    overflow: hidden;

    	.search-button{
		    position: absolute;
		    right: 0;
		    top: 0;
    	}

	    .border{
	    	width: 650px;
		    height: 1px;
		    position: absolute;
		    background: #000;
		    bottom: 0;
		    left: -100%;
		    transition: left .2s ease-in-out;
	    }

		input{
			color: rgba(27,27,27, .5);
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			height: 70px;
			max-height: 70px;
			border: none;
			background: #fff;
			padding: 35px 0 34px;
			width: 650px;
			max-width: 100%;
			border-bottom: 1px solid #ebebeb;
			display: block;

			@include no-outline;

		}


		&.active{
			.border{
				left: 0;
			}

		}

}

