.grid {
  padding: 0;
  margin: 0;

  @include flex-parent;

}

*{
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}


.item{
    width: calc(50% - 10px);
}
.item{
    background: #fff;
    margin-top: 10px;
    line-height: 18px;

    //color: $base-font-color;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    font-family: 'baron_neueregular';
    box-shadow: 0px 0px 10px rgba(204,204,204, .5);
    transition: all .2s ease-in-out;
  	@include breakpoint(smallscreen){
  		width: calc(100%);
  		margin-top: 20px;
  	}
}

.item{
	// cursor: pointer;
	&.hotel{
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;


        h2{

            position: relative;
            color: #333;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 7px;
            font-size: 16px;
            font-family: roboto;
            text-align: left;


            &.hotel-name{
                p {
                    font-family: baron_neueregular !important;
                    font-size: 20px;
                }
            }

            a.hotel-link {
                font-size: 20px !important;
                font-family: baron_neueregular !important;
                text-transform: none !important;
            }

            a.website-link{
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;
                text-decoration: none;
                color: #333;
                text-decoration: underline;
                transition: opacity .2s ease;

                @include breakpoint(tablet){
                    border: none;
                }

                        &:after{
                            content: '';
                            display: block;
                            width: 3px;
                            height: 8px;
                            background: url(assets/images/icons/right-arrow.png);
                            background-size: cover;
                            position: absolute;
                            right: -7px;
                            top: 5px;
                        }

                        &:hover{
                            opacity: .6;
                        }
            }
        }

        p{
            font-size: 12px;
            color: #333;
            font-weight: 500;
            text-align: left;
            text-decoration: none;
            font-family: roboto;
        }

        .info{
            h2{
                display: inline-block;
            }
        }

        .item-header{
            width: 100%;
            border-bottom: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            // align-content: center;
            .item-header-top{
                width: 100%;
                height: 220px;
                position: relative;
                overflow-y: hidden;
                .hotel-card-carousel{
                    height: 220px;
                    width: 100%;
                    top: 0;
                    right: 0;
                    left: 0;
                    position: absolute;
                    background-color: rgba(40,40,40, 0.7);
                    .hotel-card-carousel-slider-wrapper{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        .hotel-card-carousel-slider{
                            width: 100%;
                            // height: calc(100% - 50px);
                            padding: 0px;
                            // display: flex;
                            // flex-direction: row;
                            // align-items: center;
                            .hotel-card-carousel-item{
                            	width: 100%;
                                height: 220px;
                                background-position: center;
                            }
                            .slick-dots{
                                li{
                                    button{
                                        &::before{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                            .slick-arrow{
                                z-index: 1;
                            }
                            .slick-prev{
                                left: 5px;
                            }
                            .slick-next{
                                right: 5px;
                            }
                        }
                    }
                }
            }
            .item-header-bottom{
                margin: 0 10px;
                &-content{

                    position: relative;
                    padding: 4px 0;

                    .info, .collection-member{
                        width: 100%;
                        display: inline-block;
                        h2{
                            p{
                                text-transform: capitalize;
                                margin-bottom: 6px;
                                color: $linkcolor;
                                font-size: 19px;

                                a{
                                    font-size: 11px;
                                    display: inline-block;
                                }
                            }
                        }

                        p{
                            font-family: 'Roboto', sans-serif;
                            text-transform: capitalize;
                            color: $linkcolor;
                            font-size: 13px;
                            font-weight: 500;

                            a {
                                color: #2d2f32;
                            }
                        }

                    }
                    .info{
                        text-align: left;

                    }
                    .collection-member{
                        text-align: right;

                    }
                    .collection-member.exists{
                        border-top: none;
                    }
                }
            }
        }
        .item-content{
            margin: 0 10px;
            &-header{
                display: block;
                width: 100%;
                padding: 10px 0 3px;

                //border-bottom: 1px solid #e4e4e4;

                h2, p{
                    text-align: left;
                    font-family: 'Roboto', sans-serif;
                }
                h2{
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 12px;
                    font-weight: 500;
                }
            }
            &-body{
                margin-top: 10px;
                .opinions-wrapper{
                    position: relative;
                    border-top: 1px solid #e4e4e4;
                    padding: 20px 0 5px;

                    &.single{
                        padding: 5px 0 15px;
                    }

                    .opinions{
                        width: 100%;
                        padding: 20px 0 5px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;
                        &.single{
                            padding-bottom: 5px;
                        }
                        .count{
                            display: inline-block;
                            //display: none;

                            width: 50px;
                            text-align: center;
                            position: absolute;
                            left: 50%;
                            margin-left: -11px;
                            top: 15px;
                            font-size: 10px;

                            p{
                                color: $active-filters;
                                margin-left: 0;
                            }
                            img{
                                width: 25px;
                                height: auto;
                            }
                        }
                        .content{
                            display: inline-block;
                            //width: calc(100% - 50px);
                            width: 100%;
                            text-align: left;
                            font-family: 'Roboto', sans-serif;

                            .single-short-opinion{
                                padding: 0;
                                .opinion{
                                    font-size: 12px;
                                    color: #333;
                                    font-weight: 500;
                                }
                                .source{
                                    font-size: 12px;
                                    color: #333;
                                    font-weight: 500;
                                }
                                .source-link{
                                    font-size: 12px;
                                    color: #333;
                                    font-weight: 500;
                                    text-decoration: underline;
                                    display: inline-block;
                                    &:hover{
                                        color: $active-filters;
                                    }
                                }
                            }
                            .hotel-card-opinions-carousel{
                                // margin-bottom: 25px;
                                position: relative;
                                .hotel-card-opinions-carousel-slider{
                                    padding: 0;
                                    .opinion-arrow{
                                        position: absolute;
                                        display: block;
                                        z-index: 1;
                                        font-size: 0;
                                        line-height: 0;
                                        top: -27px;
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                        color: transparent;
                                        border: none;
                                        outline: 0;
                                        background: 0 0;
                                        padding: 0;
                                        &:before{
                                            color: #333;
                                            font-size: 20px;
                                            line-height: 1;
                                        }
                                    }
                                    .opinion-arrow-prev{
                                        left: calc(50% - 35px);

                                            &:before{
                                                content:'';
                                                //font-family: slick;
                                                display: block;
                                                width: 5px;
                                                height: 10px;
                                                background: url(assets/images/icons/left-arrow.png);
                                                background-size: cover;
                                            }
                                    }

                                    .opinion-arrow-next{
                                        right: calc(50% - 50px);

                                        &:before{
                                            content:'';
                                                //font-family: slick;
                                                display: block;
                                                width: 5px;
                                                height: 10px;
                                                background: url(assets/images/icons/right-arrow.png);
                                                background-size: cover;
                                        }
                                    }
                                    .hotel-card-opinions-carousel-item{
                                        .opinion{
                                            font-size: 12px;
                                            color: #333;
                                            font-weight: 500;
                                        }
                                        .source{
                                            font-size: 12px;
                                            color: #333;
                                            font-weight: 500;
                                        }
                                        .source-link{
                                            font-size: 12px;
                                            color: #333;
                                            font-weight: 500;
                                            text-decoration: underline;
                                            display: inline-block;
                                            transition: all .3s ease;
                                            position: relative;

                                                &:after{
                                                    content: '';
                                                    display: block;
                                                    width: 4px;
                                                    height: 9px;
                                                    background: url(assets/images/icons/right-arrow.png);
                                                    background-size: cover;
                                                    position: absolute;
                                                    right: -9px;
                                                    top: 4px;
                                                }

                                                &:hover{
                                                    opacity: .7;
                                                }

                                        }
                                    }
                                }
                            }
                        }
                        @include breakpoint(tablet){
                            .count{
                                display: block;
                                width: 100%;
                                margin-right: 0px;
                                margin-left: 10px;
                                overflow: auto;

                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;
                                p{
                                    float: left;
                                    order: 2;
                                    margin-left: 10px;
                                    margin-bottom: 0;
                                }
                                img{
                                    float: left;
                                    order: 1;
                                }
                            }
                            .content{
                                display: block;
                                width: 100%;
                                .single-short-opinion{
                                    padding: 0;
                                }
                                .hotel-card-opinions-carousel{
                                    .hotel-card-opinions-carousel-slider{
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                    .link-wrapper{
                        width: 100%;
                        overflow: auto;
                        .link{
                            font-family: 'Roboto', sans-serif;
                            font-size: 12px;
                            color: #333;
                            border-bottom: 2px solid $linkcolor;
                            float: left;
                            font-weight: 100;
                            position: relative;
                            margin-left: 60px;
                            &:after{
                                content: '';
                                position: absolute;
                                top: 6px;
                                right: -15px;
                                width: 5px;
                                height: 10px;
                                background: url(assets/images/icons/black-link-arrow.png);
                                background-repeat: no-repeat;
                                background-size: 4px 10px;
                                transform: rotate(180deg);
                                transition: transform .3s ease;
                            }
                        }
                        @include breakpoint(tablet){
                            .link{
                                margin-left: 0;
                            }
                        }
                    }
                }

                .awards-wrapper{
                    position: relative;
                    border-top: 1px solid #e4e4e4;
                    padding: 25px 0 5px;
                    margin: 14px 0 0;

                    &.claims{
                        padding: 0px 0 20px;
                        border-top: none;
                        @include breakpoint(tablet){ padding: 0px 0 15px; }

                        .awards{

                        .count{
                            @include breakpoint(tablet){ top: 15px; }
                            }
                        }
                        .graphic-claims {

                            .content {
                                display: flex;
                                align-items: flex-end;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                padding: 0 20px;
                                margin: 10px 0;
                                .claim-container {
                                    width: 32%;
                                    background-color: #375d64;
                                    border-radius: 7px;
                                    padding: 2px;
                                    margin: 0 0 5px 0;

                                    @include breakpoint(mobile){ width: 48%; }
                                

                                    h3 {
                                        color: #fff;
                                        margin: 0;
                                        font-size: 11px;
                                        font-weight: normal;
                                        border-radius: 5px;
                                        border: 1px solid #fff;
                                        padding: 2px;


                                    }

                                    &:first-child {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }

                    }

                    &.single{
                        padding: 15px 0 15px;

                    }

                    .awards{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        align-content: center;

                        .count{
                            display: inline-block;
                            width: 50px;
                            text-align: center;
                            position: absolute;
                            left: 50%;
                            margin-left: -11px;
                            top: 15px;
                            font-size: 10px;

                            @include breakpoint(tablet){ top: 10px; }

                            p{
                                color: $active-filters;
                                margin-left: 0;
                            }
                            img{
                                width: 25px;
                                height: auto;
                            }
                        }
                        .content{
                            display: inline-block;
                            width: calc(100%);
                            text-align: left;
                            font-family: 'Roboto', sans-serif;
                            .single-short-award{

                                  .name{
                                        color: #333;
                                        text-transform: uppercase;
                                        font-weight: 500;
                                        margin-bottom: 7px;
                                        font-size: 16px;
                                    }

                                    .source{
                                        //float: left;
                                        font-size: 12px;
                                        color: #333;
                                        font-weight: 500;
                                        margin-bottom: 5px;
                                        display: block;
                                        width: 100%;
                                        float: left;
                                        font-style: italic;
                                        margin-left: 7px;

                                            &:before{
                                                content: '-';
                                                display: block;
                                                float: left;
                                                margin-left: -7px;
                                            }
                                    }


                                    .claimopinion{
                                        font-size: 12px;
                                        color: #333;
                                        font-weight: 500;
                                    }

                                    .category{
                                        float: left;
                                        font-size: 12px;
                                        color: #333;
                                        font-weight: 500;
                                        margin-bottom: 5px;
                                        display: block;

                                    }

                                    .opinion{
                                        font-size: 12px;
                                        color: #333;
                                        font-weight: 500;
                                        margin-left: 7px;
                                        float: left;
                                        margin-bottom: 5px;

                                        &:before{
                                                content: ',';
                                                display: block;
                                                float: left;
                                                margin-left: -7px;
                                            }
                                    }

                            }
                            .hotel-card-awards-carousel{
                                position: relative;

                                .opinion{
                                    font-size: 12px;
                                    color: #333;
                                    font-weight: 500;
                                }

                                .hotel-card-awards-carousel-slider{
                                    padding: 0;
                                    .award-arrow{
                                        position: absolute;
                                        display: block;
                                        z-index: 1;
                                        font-size: 0;
                                        line-height: 0;
                                        top: -11px;
                                        width: 20px;
                                        height: 20px;
                                        cursor: pointer;
                                        color: transparent;
                                        border: none;
                                        outline: 0;
                                        background: 0 0;
                                        padding: 0;
                                        &:before{
                                            color: #333;
                                            font-size: 20px;
                                            line-height: 1;
                                        }

                                        @include breakpoint(tablet){ top: -16px; }
                                    }
                                    .award-arrow-prev{
                                        left: calc(50% - 35px);
                                        &:before{
                                            content:'';
                                            //font-family: slick;
                                            display: block;
                                            width: 5px;
                                            height: 10px;
                                            background: url(assets/images/icons/left-arrow.png);
                                            background-size: cover;
                                        }
                                    }
                                    .award-arrow-next{
                                        right: calc(50% - 50px);
                                        &:before{
                                            content:'';
                                            //font-family: slick;
                                            display: block;
                                            width: 5px;
                                            height: 10px;
                                            background: url(assets/images/icons/right-arrow.png);
                                            background-size: cover;

                                        }
                                    }
                                    .hotel-card-awards-carousel-item{
                                        .name{
                                            color: #333;
                                            text-transform: uppercase;
                                            font-weight: 500;
                                            margin-bottom: 7px;
                                            font-size: 16px;
                                        }
                                        .source{
                                            font-size: 12px;
                                            color: #333;
                                            font-weight: 500;
                                        }

                                    }
                                }
                            }
                        }
                        @include breakpoint(tablet){
                            .count{
                                display: block;
                                width: 100%;
                                margin-right: 0px;
                                margin-left: 10px;
                                overflow: auto;
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: center;
                                p{
                                    float: left;
                                    order: 2;
                                    margin-left: 10px;
                                    margin-bottom: 0;
                                }
                                img{
                                    float: left;
                                    order: 1;
                                }
                            }
                            .content{
                                display: block;
                                width: 100%;
                                .name{
                                    margin-top: 10px;
                                }
                                .single-short-award{
                                    padding: 0;
                                }
                                .hotel-card-awards-carousel{
                                    .hotel-card-awards-carousel-slider{
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                    .link-wrapper{
                        width: 100%;
                        overflow: auto;
                        .link{
                            font-family: 'Roboto', sans-serif;
                            font-size: 12px;
                            color: #333;
                            border-bottom: 2px solid $linkcolor;
                            float: left;
                            font-weight: 100;
                            position: relative;
                            margin-left: 60px;
                            &:after{
                                content: '';
                                position: absolute;
                                top: 6px;
                                right: -15px;
                                width: 5px;
                                height: 10px;
                                background: url(assets/images/icons/black-link-arrow.png);
                                background-repeat: no-repeat;
                                background-size: 4px 10px;
                                transform: rotate(180deg);
                                transition: transform .3s ease;
                            }
                        }
                        @include breakpoint(tablet){
                            .link{
                                margin-left: 0;
                            }
                        }
                    }
                }
                .score-box-wrapper{
                    border-top: 1px solid #e4e4e4;
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;
                    padding-bottom: 15px;

                         @include breakpoint(tablet){ padding: 0; }

                    .score-icon{
                        display: inline-block;

                        img{
                            width: 30px;
                            height: auto;
                        }
                    }
                    .no-score-msg{
                        margin: 0;
                        margin-left: 10px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                    }
                    .score-box{
                        display: block;
                        &.carousel{
                            width: calc(100%)
                        }
                        &.static{
                            width: 100%;
                        }
                    }
                    .score-wrapper{
                        // display: inline-block;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;
                        padding: 0 15px;
                    }
                    .hotel-card-top-ratings-carousel{
                        // margin-bottom: 25px;
                        position: relative;

                        .count{
                            display: inline-block;
                            //display: none;
                            width: 50px;
                            text-align: center;
                            position: absolute;
                            left: 50%;
                            margin-left: -11px;
                            top: 17px;
                            font-size: 10px;
                        }

                        .hotel-card-top-ratings-carousel-slider{
                            padding: 40px 0 0;

                            .top-ratings-arrow{
                                position: absolute;
                                display: block;
                                z-index: 1;
                                font-size: 0;
                                line-height: 0;
                                top: -25px;
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                                color: transparent;
                                border: none;
                                outline: 0;
                                background: 0 0;
                                padding: 0;
                                &:before{
                                    color: #333;
                                    font-size: 20px;
                                    line-height: 1;
                                }
                            }
                            .top-rating-arrow-prev{
                                left: calc(50% - 35px);
                                    &:before{
                                        content:'';
                                        //font-family: slick;
                                        display: block;
                                        width: 5px;
                                        height: 10px;
                                        background: url(assets/images/icons/left-arrow.png);
                                        background-size: cover;
                                    }
                            }
                            .top-rating-arrow-next{
                                right: calc(50% - 50px);
                                    &:before{
                                        content:'';
                                        //font-family: slick;
                                        display: block;
                                        width: 5px;
                                        height: 10px;
                                        background: url(assets/images/icons/right-arrow.png);
                                        background-size: cover;

                                    }
                            }


                            .hotel-card-top-ratings-carousel-item{
                                .opinion{
                                    font-size: 12px;
                                    color: #333;
                                    font-weight: 500;
                                }
                                .source{
                                    font-size: 12px;
                                    color: #333;
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    @include breakpoint(tablet){
                        flex-direction: column;
                        .score-icon{
                            width: 100%;
                            display: block;
                            text-align: left;
                            margin: 10px 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            p{
                                order: 2;
                                margin-left: 10px;
                                margin-bottom: 0;
                            }
                            img{
                                margin-left: 0;
                                order: 1;
                            }
                        }
                        .score-box{
                            &.carousel{
                                width: 100%;
                            }

                        }
                        .no-score-msg{
                            margin-left: 0;
                            text-align: left;
                            width: 100%;
                        }
                        .score-wrapper{
                            display: block;
                            width: 100%;
                        }
                        .link-wrapper{
                            display: block;
                        }
                    }
                }
            }
            &-footer{
                width: 100%;

               // display: none;

                .avg-collection-section-wrapper{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: stretch;
                    align-content: center;

                    padding: 5px 0px;
                    border-top: 1px solid #e4e4e4;
                    margin: 10px 10px 0 10px;


                    .collection-member{
                        width: calc(100% - 175px);
                        h2, p{
                            text-align: left;
                        }
                        p{
                            font-size: 11px;
                        }
                        h2{
                            margin-bottom: 1px;
                            font-size: 13px;
                            font-weight: normal;
                        }
                    }
                    .avg-price-wrapper{
                        display: none;
                        width: 170px;
                        margin: auto;
                        padding: 10px 0;
                        padding-left: 10px;
                        border-left: 1px solid #e4e4e4;
                        .avg-price{
                            font-weight: 700;
                            font-size: 14px;
                            font-family: 'Roboto', sans-serif;
                            margin-bottom: 0;
                            text-align: center;

                        }
                    }
                }
                .avg-price-single-wrapper{
                    display: none;
                    width: calc(100% - 20px);
                    margin: 10px 10px 0px 10px;
                    padding: 15px 0;
                    border-top: 1px solid #e4e4e4;
                    .avg-price{
                        font-weight: 700;
                        font-size: 14px;
                        font-family: 'Roboto', sans-serif;
                        margin-bottom: 0;
                        text-align: center;

                    }
                }

                .view-hotel-btn-wrapper{
                    display: none;
                    width: 100%;
                    a{
                        width: 100%;
                        .view-hotel-btn{
                            display: block;
                            margin: 0 auto;
                            background-color: $button-bg;
                            width: 100%;
                            height: 53px;
                            border: none;
                            outline: none;
                            font-size: 12px;
                            text-align: center;
                            color: #fff;
                            font-family: 'baron_neueregular';
                            letter-spacing: 3px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

	}
}

.grid-two {
	position: relative;
	clear: both;
	max-width: 1000px;
	list-style: none;
	text-align: center;
    figure{
        position: relative;
    	overflow: hidden;
    	//min-width: 320px;
    	max-width: 480px;
    	// max-height: 220px;
        height: 220px;
    	max-width: 100%;
    	// height: auto;
    	background: #3085a3;
    	text-align: center;
    	cursor: pointer;
        margin: 0;
        img{
            position: relative;
        	display: block;
        	min-height: 100%;
        	max-width: 100%;
        	opacity: 0.8;
            vertical-align: middle;
            border: 0;
        }
        figcaption{
            padding: 1em 1em 0em 1em;
        	color: #333;
        	text-transform: uppercase;
        	font-size: 1.25em;
        	-webkit-backface-visibility: hidden;
        	backface-visibility: hidden;
            position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
            a{
                position: absolute;
            	top: 0;
            	left: 0;
            	width: 100%;
            	height: 100%;
                z-index: 1000;
            	text-indent: 200%;
            	white-space: nowrap;
            	font-size: 0;
            	opacity: 0;
            }
            &:before, &:after{
                pointer-events: none;
            }
        }
        h2{
            margin: 0;
            word-spacing: -0.15em;
        	font-weight: 300;
            span{
                font-weight: 800;
            }
        }
        p{
            margin: 0;
            letter-spacing: 1px;
        	font-size: 68.5%;
        }
    }
}

.item{
    &.hotel:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        @media (min-width: 769px){
            .item-header{
                .cover-img{
                    opacity: .5;
                }
                .ctf-overlay{
                    opacity: 1;
                	-webkit-transform: translateY(0);
                	transform: translateY(0);
                }
            }
        }
    }
}

.top-rating-box{
    width: calc(100%);
    // height: auto;
    display: inline-block;
    // padding-top: 9px;
    padding-right: 1px;
    // margin: 0px 5px;
    margin: 0;
    position: relative;
    cursor: pointer;
    .top-rating-circle{
            display: block;
            /* margin: 0 auto; */
            width: 100px;
            float: left;
            text-align: center !important;
        &.active{
            border: 2px solid $active-filters;
        }
    }
    .top-rating-info{
        font-family: 'Roboto', sans-serif;
        width: calc(100% - 100px);
        float: left;
        padding-left: 20px;
        text-align: left;

        .rating-type, .rating-descripton{
            text-align: left;
            text-transform: uppercase;
            font-size: 12px;
            white-space: nowrap;
            display: inline-block;
            font-weight: 500;
            font-size: 16px;
        }
        .rating-type{
            margin-bottom: 0;
        }
        .rating-note{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12px;
        }
    }
    @include breakpoint(tablet){

        //width: 100%;
        //height: auto;
        //float: none;

        background: #fff;
        margin: 0;
        padding: 0;

        .top-rating-circle{
            float: none;
            margin: 0 auto;
        }

        .top-rating-info{
            width: calc(100%);
            display: block;
            float: none;
            padding: 10px 0;
            opacity: 1;
            pointer-events: none;
            transform: none;
            transition: all 0.3s ease;
            z-index: 1;
            background-color: #fff;
            overflow: auto;
            text-align: center;

            .rating-type, .rating-descripton{
                font-weight: 700;
                font-size: 12px;
                text-align: center;
            }
            .rating-type{
                margin-bottom: 0;
                display: inline-block;
            }
            .rating-descripton{
                margin-bottom: 0;
                padding-left: 5px;
                display: inline-block;
            }
        }
    }
}

.sg-sign{
    position: absolute;
    background: #fff;
    z-index: 1;
    padding: 3px 0;
    border: 1px solid #e4e4e4;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    top: -15px;
    color: $linkcolor;
    font-size: 12px;

    img{
        width: 10px;
        position: relative;
        left: -5px;
    }

        &.top-sign{
            top: auto;
            bottom: -25px;
        }

            &.for-score{
                width: 200px;
                margin-left: -100px;

                img{ width: 13px; }

                    .score-icon-text{ display: inline; }
            }

            &.sg{
                img{
                    width: 14px;
                    position: relative;
                    left: -6px;
                }
            }
}

.claims{
    .sg-sign{
        width: 150px;
        margin-left: -75px;
    }
}

.hotel-card-opinions-carousel-slider{
    .slick-dots {
       top: -21px;
       bottom: auto !important;

            li{

                position: absolute !important;

                &.slick-active{
                    button{
                        width: 35px;
                        text-align: center;
                        left: 50%;
                        margin-left: -30px !important;
                        font-family: 'baron_neueregular';
                        color: #333;
                        font-weight: bold;
                        font-size: 10px;

                        &:before{
                            display: none;
                            content: '';
                            opacity: 0;
                        }
                    }
                }

                button{
                        &:before{
                            display: none;
                            content: '';
                            opacity: 0;
                        }

                        &:after{
                            display: block;
                            content: '/';
                            opacity: 1;
                            width: 10px;
                            height: 10px;
                            color: #333;
                            float: right;
                        }
                    }
                }
    }
}

.hotel-card-top-ratings-carousel,
.hotel-card-awards-carousel-slider{
    .slick-dots {
       top: -6px;
       bottom: auto !important;

        @include breakpoint(tablet){ top: -11px; }

            li{

                position: absolute !important;

                &.slick-active{
                    button{
                        width: 35px;
                        text-align: center;
                        left: 50%;
                        margin-left: -30px !important;
                        font-family: 'baron_neueregular';
                        color: #333;
                        font-weight: bold;
                        font-size: 10px;

                        &:before{
                            display: none;
                            content: '';
                            opacity: 0;
                        }
                    }
                }

                button{
                        &:before{
                            display: none;
                            content: '';
                            opacity: 0;
                        }

                        &:after{
                            display: block;
                            content: '/';
                            opacity: 1;
                            width: 10px;
                            height: 10px;
                            color: #333;
                            float: right;
                        }
                    }
                }
    }

    .slick-slider{

            .name{
                color: #333;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 7px;
                font-size: 16px;
            }

            .source{
                //float: left;
                font-size: 12px;
                color: #333;
                font-weight: 500;
                margin-bottom: 5px;
                display: block;
                width: 100%;
                float: left;
                font-style: italic;
                margin-left: 7px;

                    &:before{
                        content: '-';
                        display: block;
                        float: left;
                        margin-left: -7px;
                    }
            }


            .claimopinion{
                font-size: 12px;
                color: #333;
                font-weight: 500;
            }

            .category{
                float: left;
                font-size: 12px;
                color: #333;
                font-weight: 500;
                margin-bottom: 5px;
                display: block;

            }

            .opinion{
                font-size: 12px;
                color: #333;
                font-weight: 500;
                margin-left: 7px;
                float: left;
                margin-bottom: 5px;

                &:before{
                        content: ',';
                        display: block;
                        float: left;
                        margin-left: -7px;
                    }
            }



    }

}

.hotel-card-top-ratings-carousel{
    .slick-dots{
        top: -19px;
    }
}









