a{ text-decoration: none; }

.href-link,
.navlink{
	display: inline-block;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 0 0 6px;
	color: $linkcolor;
	position: relative;
	transition: color 0.3s;
	font-family: 'baron_neueregular';
	text-transform: lowercase;
		&:hover{
			color: $activelinkcolor;
		}

		&::after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 0px;
			background: $activelinkcolor;
			content: '';
			opacity: 0;
			transition: height 0.3s, opacity 0.3s, transform 0.3s;
			transform: translateY(-10px);
		}

		&:hover::after,
		&:focus::after {
			height: 1px;
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
			color: $activelinkcolor;
		}

}

.navlink-divider{
	background: $linkcolor;
	height: 9px;
	width: 2px;
	display: inline-block;
	margin: 0 18px;
}
