$marker-width: 50px !default;
$marker-height: 50px !default;
$marker-border-width: 1px !default;
$marker-font-size: 14px !default;
.cluster-map{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
 }
.marker-wrapper{
   position: absolute;
   cursor: pointer;
   width: $marker-width;
   height: $marker-height;
   left: -$marker-width / 2;
   top: -$marker-height / 2;

   border: $marker-border-width solid #000;
   border-radius: 50%;
   background-color: rgba(0,0,0,0.5);
   text-align: center;
   color: #fff;

   font-size: $marker-font-size;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   .marker{
	   width: 36px;
	   height: 36px;
	   background-color: #333;
	   border-radius: 50%;
	   .text{
		   padding-top: 7.5px;
	   }
   }
}


$markerWidth: 35px;
$markerHeight: 35px;

$originX: $markerWidth * 0.5;
$originY: $markerHeight;

.single-marker{
  background-image: url(assets/images/maps/map-icon.png);
  background-repeat: no-repeat;
  background-size: $markerWidth $markerHeight;
  position: absolute;
  cursor: pointer;
  width: $markerWidth;
  height: $markerHeight;
  top: -$originY;
  left: -$originX;
  transform-origin: $originX $originY;
  margin: 0;
  padding: 0;
}
.map-icon-wrapper{
	.map-popup{
		display: none;
	}
}
.map-icon-wrapper{
	&.active{
		.map-popup{
			display: block;
			z-index: 100000;
		}
		.single-marker{
		  background-image: url(assets/images/maps/active-map-icon.png);
	  }
	}
}
.map-popup{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 500px;
    min-width: 500px;
    /* border: 1px solid #000; */
    cursor: default;
    transform-origin: bottom;

    .hotel-box-container {
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;

        @include breakpoint(tablet){
            max-height: 80vh;
        }
    }

    @include breakpoint(tablet){ max-width: 300px; min-width: 300px; }

      .close-wrap{
            .close-popup-bg{
                width: 0px;
                height: 0px;
                position: absolute;
                right: -35px;
                top: 0;
                background-color: #2d2f32;
                opacity: 0.7;
                border-radius: 0px 0px 0px 100%;
                visibility: hidden;
                -webkit-transition: all .3s; /* For Safari 3.1 to 6.0 */
                transition: all .3s;
            }
            .close-popup{
                width: 35px;
                height: 35px;
                position: absolute;
                right: -35px;
                top: 0;
                border: none;
                background-image: url(assets/images/icons/cross-close.png);
                background-repeat: no-repeat;
                background-position: 6px 8px;
                background-size: 23px;
                outline: none;
                cursor: pointer;
                opacity: 1;
                transition: opacity .1s ease-in-out 0s;
                z-index: 100000;
            }
        }

    &:hover{
        .map-popup-header{
            .close-wrap{
                .close-popup-bg{
                    visibility: visible;
                    height: 35px;
                    width: 35px;
                }
                .close-popup{
                    opacity: 1;
                    transition: opacity .2s ease-in-out .3s;
                }
            }
        }
    }

    .item.hotel {
        width: 100%;
        margin-top: 0;

        .slick-slider img {
            max-width: 100%;
        }
    }

    .map-popup-header{
        width: 100%;
        max-height: 100px;
        background-color: #fff;
        position: relative;

        img{
            position: static;
            width: 100%;
            height: auto;
            max-height: 100px;
        }
        @include breakpoint(tablet){
            .close-popup-bg{
                visibility: visible;
            }
            .close-popup{
                visibility: visible;
            }
      	}
    }
    .map-popup-body{
        width: 100%;
        height: 130px;
        padding: 10px;
        background-color: #fff;
        border-top: 1px solid #000;
        .hotel-info{
        	margin: 10px 0;
        	p, small{
        		width: 100%;
    	      	text-align: center;
        	}
        	p:nth-child(1){
                font-size: 14px;
                margin-bottom: 5px;
                font-weight: 700;
            }
        	p:nth-child(2){
        		font-size: 10px;
        		font-weight: 100;
        	}
        }
        .scores-wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            .score-item-wrapper{
                width: calc(100% / 3);
                .score-item{
                    margin: 0 auto;
                    text-align: center;
                    // padding-top: 8px;
                    img{
                        position: static;

                    }
                    p{
                        font-size: 9px;
                        margin-bottom: 0;
                    }
                    &.opinion, &.award{
                        p{
                            color: $active-filters;
                        }
                        img{
                            height: 20px;
                            width: 20px;
                        }
                    }
                    &.score{
                        img{
                            margin-top: 1px;
                            width: 25px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .map-popup-footer{
        width: 100%;
        height: 40px;
        background-color: #fff;
        padding: 0px 5px 5px 5px;
        a{
            background-color: $button-bg;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            width: 100%;
            display: block;
            padding: 11px 0;
            font-family: 'baron_neueregular';
        }
    }
}
