.gridder{
    width: 100%;
}
.subpage-wrapper{
    padding: 3rem;
    background-color: #fff;
    p{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 14px;
    }
    h1{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        padding: 10px;
        span:nth-child(2){
            font-family: inherit;
            text-transform: none;
            font-weight: 300;
            font-size: 30px;
        }
}


    .align-center{
        text-align: center;
    }
    .align-left{
        text-align: left;
    }


    h3{
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #282828;
    }

    .subpage-contant{
  			margin-top: 15px;
  			margin-bottom: 40px;
  			font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  			@include breakpoint(grid){
  				margin-bottom: 50px;
  			}
  			&.align-left{
  					text-align: left;
  			}
  			&.align-center{
  					text-align: center;
  			}
  	}

      .title-undertext{
        padding: 10px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #282828;
    }
}

.contact-form{
    h3{
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }
    form{
        input{
            width: 100%;
            text-align: center;
            padding: 10px 5px;
            margin-bottom: 15px;
        }
        textarea{
            width: 100%;

        }
    }
}
.contact-info{

    width: 500px;
    margin: 0 auto;
    max-width: 98%;


    h3{
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }
    section{
        background: transparent;
        border-bottom: none;
        padding: 0px 50px;


        p{
            text-align: center;
        }
    }
}
.grid-column{
    padding: 10px;
    &.single{
        float: left;
        width: calc(75% - 20px);
        margin: 0 auto;
    }
    &.dubble{
        float: left;
        width: calc(50% - 20px);
        @include breakpoint(mobile){
      		width: 100%;
      		margin-top: 20px;
      	}
    }
    &.triple{
        float: left;
        width: calc(33.3333% - 20px);
        @include breakpoint(tablet){
      		width: calc(50% - 20px);
      		margin-top: 20px;
      	}
        @include breakpoint(mobile){
      		width: 100%;
      		margin-top: 20px;
      	}
    }
    &.single{
      float: left;
      width: calc(100% - 20px);
      margin: 0 auto;
    }
    &.dubble{
      float: left;
      width: calc(50% - 20px);
        @include breakpoint(mobile){
        width: 100%;
        margin-top: 20px;
      }
    }
}


    .grid-about{
      max-width: 80%;
      font-family: 'baron_neueregular' !important;
      padding-top: 50px;
      padding-bottom: 30px;
      color: #d1beab;
      margin: 0 auto;
      h1 {
        font-size: 30px!important;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 200;
      }
      @include breakpoint(grid){
        max-width: 70%;
      h1 {
        font-size: 45px!important;
        margin-bottom: 80px;
      }
    };
}

    .grids-bottom {
      padding-bottom: 50px;
      @include breakpoint(grid) {
        padding-bottom: 60px;
      };
    }


.underline{
    width: 50px;
    border-top: 1px solid #d1beab;
    margin-top: 12px;
    margin-bottom: 12px;
}
.full-underline{
    width: calc(100% - 50px);
    border-top: 2px solid #000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 25px;
}
.overlay-wrapper{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 25;
    background-color: #f5eded;
    padding: 3rem;

    &.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        overflow-y: scroll;
    }
    @include breakpoint(mobile){
      padding: 25px 5px 45px 5px;
    }
    @include breakpoint(tablet){
      padding: 15px 8px 25px 8px;
    }
    @include breakpoint(grid){
    padding: 42px 120px 75px 120px;
    }


    .close-overlay{
        width: 30px;
        height: 30px;
        display: block;
        position: fixed;
        top: 20px;
        right: 3px;
        cursor: pointer;
        i{
            position: absolute;
            width: 2px;
            height: 22px;
            background: #d1beab;
            @include breakpoint(grid){
              height: 30px;
            };
        }
        i:nth-child(1) { transform:rotate(45deg); }
        i:nth-child(2) { transform:rotate(-45deg); }
    }
}

.small-title{
    font-weight: 500;
    font-size: 16px;
    font-family: 'baron_neueregular' !important;
    margin: 30px 0 5px 0;
    position: relative;
    color: #d1beab;
        &.underline{
            margin: 25px 0;
            padding: 10px 0;
            border: none;
            width: auto;
            color: #d1beab;
                &:after{
                    content: '';
                    display: block;
                    width: 30px;
                    height: 1px;
                    background: #d1beab;
                    top: 19px;
                    position: relative;
                }
        }
        @include breakpoint(grid){
          font-size: 18px;
        }
}

.other-title {
    font-weight: 600 !important;
    font-family: 'baron_neueregular' !important;
    margin: 18px 0 18px 25px !important;
    color: #d1beab;
}

p.sources {
  font-size: 18px;
  font-weight: 600;
  color: #d1beab;
  margin: 30px 0 20px 0;
  @include  breakpoint(grid) {
    font-size: 20px;
  }
}


span.source-title, a.source-title {
  font-weight: 600 !important;
  color: #d1beab;
}

p.bold {
  font-style: bold;
}

.source-margin {
  margin-bottom: 30px;
}

.awards-margin {
  margin-bottom: 40px;
}

.awards-text-block {
  margin-bottom: 20px;
}

span.italic {
  font-style: italic;
}


ul.special-list {

    margin: 0 auto 30px;

    li{
        width: 66%;
        color: #333;
        margin: 30px auto 30px;
        display: block;
    }

}
