.Holder {
    position: relative;
    display: block;
    height: 600px;
    overflow: hidden;
    @include breakpoint(tablet){
      height: 450px;
    }
    .Stats {
        margin: 0;
        padding: 0px 60px;
        transform: translate3d(0,0,0);
        @media screen and (max-width: 769px) {
          padding: 0px;
        }
        .Stats-list {
    	    white-space: nowrap;
    	    position: relative;
    	    opacity: 1;
    	    overflow: hidden;
    	    top: 0;
    	    left: 0;
            .Stat {
                float: left;
                display: block;
                height: 100%;
                min-height: 1px;
                .hotel-slider-item{
                    height: 600px;
                    width: calc(100% - 20px);
                    margin: 0 auto;
                    background-position: center;
                    position: relative;
                    @include breakpoint(tablet){
                      height: 450px;
                    }
                    .hotel-slider-item-overlay{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(0,0,0,.5);
                        .border{
                            position: absolute;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            bottom: 10px;
                            left: 10px;
                            border: 1px solid #fff;
                        }
                    }
                }
            }
        }
    }
}

.overlay-facts-parent{
	position: absolute;
	z-index: 8;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 600px;
    margin: 0 10px;
	display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(tablet){
      width: calc(100% - 40px);
      margin: 0 20px;
      height: 450px;
    }
	.overlay-facts-wrapper{
        width: 100%;
        max-width: 550px;
        margin-bottom: 75px;
        @include breakpoint(tablet){
          margin-bottom: 25px;
        }
		.overlay-facts{
			display: block;
		    height: auto;
			max-width: 550px;
			margin: 0 auto;
		    z-index: 10;
		    text-align: center;
		    color: #fff;
			background: rgba(42,51,58,0.7);
			border: 3px solid #fff;
			padding: 35px;
            @include breakpoint(tablet){
              padding: 15px;
            }
			.hotel-facts{
				.hotel-name{
                    font-family: 'baron_neueblack';
                    letter-spacing: 3px;
                    font-size: 35px;
                    text-transform: lowercase;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    @include breakpoint(tablet){
                      font-size: 20px;
                    }
				}
				.hotel-loaction{
					span{
						font-family: 'Roboto', sans-serif;
						font-size: 16px;
						text-transform: capitalize;
						font-weight: 300;
					}
				}
			}
			.overlay-facts-stats{
				font-size: 10px;
				text-transform: capitalize;
				max-width: 400px;
				margin: 0 auto;
				.item-scores{
					margin: 0 auto;
					padding: 0;

					@include flex-parent;

					align-items: flex-end;

					.stats{
					  	width: calc(33.3333% - 10px);
					  	.stat-number{
							font-family: 'Questrial', sans-serif;
					  		width: 55px;
					  		height: 55px;
					  		background: rgba(255,255,255,.3);
						  	border-radius: 27.5px;
						    color: #fff;
			    			font-size: 25px;
							display: block;
							margin: 0 auto;
							padding: 15px;
                            @include breakpoint(tablet){
                              width: 45px;
                              height: 45px;
                              font-size: 20px;
                            }

						}
						.stat-icon{
							width: 100%;
							display: block;
							margin: 0 auto;
							margin-top: 15px;
							.awards{
								width: 20px;
								height: 20px;
							}
							.score{
								width: 29px;
								height: auto;
							}
							.opinion{
								width: 20px;
								height: 20px;
							}
						}
                        &.score{
                            .stat-number:not(.no-desc){
                                padding: 15px 5px;
                                font-size: 12px;
                                font-weight: 700;
                            }
                        }
					}
					.stats.awards, .stats.opinion{

					}

				}
			}
		}
	}
	.gallary-button{
		cursor: pointer;
		width: 200px;
		height: 35px;
		// position: absolute;
		border: none;
		outline: none;
		bottom: 25px;
		// left: calc(50% - 100px);
		color: #fff;
		background-color: $active-filters;
		border-radius: 20px;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
	}
}


#website-link{
	cursor: pointer;
    color: #fff;

		&:after{
			content:'';
			position: absolute;
			top: 1px;
			right: -10px;
			width: 10px;
			height: 10px;
			background: url(assets/images/icons/harrow.png);
			background-repeat: no-repeat;
			background-size: 4px 10px;
			transform: rotate(180deg);
			transition: transform .3s ease;
		}

		&:hover{
			&:after{
				content:'';
				position: absolute;
				top: 1px;
				right: -10px;
				width: 10px;
				height: 10px;
				background: url(assets/images/icons/harrow.png);
				background-repeat: no-repeat;
				background-size: 4px 10px;
				transform: rotate(540deg);
			}
		}
}
