#score-section{
	margin: 50px 0;

		h3{
			font-size: 22px;
			border-bottom: 1px solid #eee;
			padding: 20px 0;
			position: relative;

				#score{
					width: 100px;
					height: 100px;
					background: #fff;
					border: 1px dotted $button-bg;
					border-radius: 50%;
					position: absolute;
					left: 50%;
					margin-left: -50px;
					text-align: center;
					padding: 40px 0 0 0;
					bottom: -52px;
				}
		}

		.reviews-text-section{
			@include flex-parent;

			.reviewer{
				font-weight: 700;
				font-style: italic;
				font-size: 12px;
				position: relative;
				top: -10px;
			}

			.column{
				font-family: 'Open Sans', Georgia, sans-serif;
				width: 50%;
				padding: 20px 40px 20px 0;
				line-height: 1.5;

					p{
						font-size: 14px; margin: 0 0 18px 0;
						color: $base-font-color;

							a{
								cursor: pointer;
								text-decoration: none;
								color: #aaa;
								border-bottom: 1px dotted $button-bg;
								transition: all .3s ease;

									&:hover{
										border-bottom: 1px dotted transparent;
										color: $button-bg;
									}
							}


					}
			}
		}
}










