input:-webkit-autofill,
textarea:-webkit-autofill{
  background-color: none !important;
  color: rgb(255, 255, 255);
}

::-webkit-input-placeholder{
  color: rgba(27,27,27, .5);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  	@include breakpoint(mobile){ font-size: 13px; }
}



#search-wrapper{
    float: left;
	width: calc(100% - 260px);
	max-width: 100%;
    @include breakpoint(tablet){
      width: 100%;
    }
	.search-icons{
	    position: absolute;
	    right: 0;
	    top: 0;
	}
}


.search{
    margin: 0 auto;
    position: relative;
    padding: 0 0 0 0;
    // height: 53px;
    width: calc(100% - 100px);
    margin: 0 50px;
    background-color: #fff;
    border-bottom: 1px solid rgba(39, 39, 39, 0.1);
	input{
		color: rgba(27,27,27, .5);
		font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
		font-size: 16px;
		height: 52px;
		max-height: 53px;
		background: #fff;
        margin-left: 15px;
		width: 100%;
		max-width: calc(100% - 51px);
		display: block;
        padding: 0px;
        border: none;
		@include no-outline;
		// @include breakpoint(tablet){ font-size: 13px; height: 50px; max-height: 50px; padding: 24px 0 23px; }
	}
    .search-icons{
        height: 52px;
        .spinner-wrap, .erase-wrap, .search-icon-wrap {
        	margin-top: 16px;
            margin-right: 15px;
        }

        .spinner {
        	height: 21px !important;
        	width: 21px;
        	display: block;
            margin: 0px auto;
        	animation: spin 1s steps(12, end) infinite;
        	i {
        		height: 5px;
        		width: 1px;
        		margin-left: -0.5px;
        		display: block;
        		transition: height 1s;
        		position: absolute;
        		left: 50%;
        		transform-origin: center 10.5px;
        		background: #c62750;
        		box-shadow: 0 0 3px rgba(255, 255, 255, .7);
        		border-radius: 3px;
        	}
        }

        .spinner i:nth-child(1) { opacity:.08 }
        .spinner i:nth-child(2) { transform:rotate(30deg);opacity:.167 }
        .spinner i:nth-child(3) { transform:rotate(60deg);opacity:.25 }
        .spinner i:nth-child(4) { transform:rotate(90deg);opacity:.33 }
        .spinner i:nth-child(5) { transform:rotate(120deg);opacity:.4167 }
        .spinner i:nth-child(6) { transform:rotate(150deg);opacity:.5 }
        .spinner i:nth-child(7) { transform:rotate(180deg);opacity:.583 }
        .spinner i:nth-child(8) { transform:rotate(210deg);opacity:.67 }
        .spinner i:nth-child(9) { transform:rotate(240deg);opacity:.75 }
        .spinner i:nth-child(10) { transform:rotate(270deg);opacity:.833 }
        .spinner i:nth-child(11) { transform:rotate(300deg);opacity:.9167 }
        .spinner i:nth-child(12) { transform:rotate(330deg);opacity:1 }

        @keyframes spin {
        	from { transform: rotate(0deg); }
        	to { transform: rotate(360deg); }
        }

        .erase{
            width: 21px;
            height: 21px;
            display: block;
            margin: 0px auto;
            position: relative;
            i{
                position: absolute;
                top: 0px;
                left: 50%;
                width: 1px;
                height: 20px;
                background: #c62750;
                border-radius: 3px;
            }
            i:nth-child(1) { transform:rotate(45deg); }
            i:nth-child(2) { transform:rotate(-45deg); }
        }
        .search-icon{
            width: 21px;
            height: 21px;
            display: block;
            margin: 0px auto;
            position: relative;
            .glass{
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 1px solid #c62750;
                i{
                    position: absolute;
                    height: 1px;
                    left: 4px;
                    background: #c62750;
                    border-radius: 3px;
                }
                i:nth-child(1){
                     width: 8px;
                     top: 5px;
                 }
                i:nth-child(2){
                     width: 8px;
                     top: 7px;
                 }
                i:nth-child(3){
                     width: 5px;
                     top: 9px;
                 }
            }
            .handle{
                position: absolute;
                height: 7px;
                width: 1px;
                bottom: 0;
                right: 2px;
                transform:rotate(-45deg);
                background: #c62750;
            }
        }
    }
	&.active{
		.border{
			right: 0;
		}
	}
	@include breakpoint(tablet){
		max-width: 100%;
        width: calc(100% - 30px);
        margin: 0 15px;
	}
}
.auto-complete{
    height: 0px !important;
    float: none !important;
    position: relative !important;
    width: calc(100% - 100px);
    margin: 0 auto;
    top: 0;
    @include breakpoint(tablet){
        width: 100%;
	}
    #search-results{
      display: none;
    	position: absolute;
    	width: 100%;
    	left: 0;
      height: auto;
    	min-height: 150px;
    	background: #fff;
    	border-left: 1px solid #eee;
    	border-right: 1px solid #eee;
    	border-bottom: 1px solid #eee;
    	padding: 15px 80px;
    	top: 0px;
    	z-index: 1160;
    	transition: all .3s ease;
      @include breakpoint(tablet){
            padding: 15px;
    	}
        .search-result{
            height: auto;
            width: 100%;
        }
		.column{
			width: 50%;
			padding: 10px 20px 10px 0;
			position: relative;
            height: auto;
			h3{
				color: $base-font-color;
				margin: 10px 0 20px 0;
                font-family: 'baron_neueregular';
                font-size: 16px;
                text-transform: lowercase;
                text-align: left;
			}
			p{
				position: relative;
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				padding: 0 0 0 10px;
				margin: 10px 0;
                cursor: pointer;
                text-align: left;
				&:before{
					position: absolute;
					left: 0;
					content: '-';
					display: block;
                    color: $active-filters;
				}
				a{
                    color: $base-font-color;
                    span{
                        color: $active-filters;
                    }
                }
			}
		}
        .no-response-message-wrapper{
            display: block;
            width: 100%;
            .no-response-message{
                color: $base-font-color;
				margin: 10px 0 20px 0;
                font-family: 'baron_neueregular';
                font-size: 16px;
                text-transform: capitalize;
                text-align: center;

            }
        }
		&.active{
            display: block;
		}
    }
}
