.overlay-hotel-slider-box{
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 20;
    display: none;
    background-color: rgba(40,40,40, 0.7);
    &.active{
        display: block;
    }
    .overlay-hotel-slider-wrapper{
        display: flex;
        align-items: center;
        height: 100%;
        .overlay-hotel-slider{
            width: 100%;
            // height: calc(100% - 50px);
            padding: 40px;
            // display: flex;
            // flex-direction: row;
            // align-items: center;
            @include breakpoint(tablet){
                // height: 50%;

            }
            .overlay-hotel-slider-item{
            	width: 100%;
                height: calc(100vh - 130px);
                background-position: center;
                @include breakpoint(tablet){
                    height: 50vh;
                }
            }
            .slick-dots{
                li{
                    button{
                        &::before{
                            color: #fff;
                        }
                    }
                }
            }
            .close-gallery-wrapper{
                margin-top: 35px;
                height: 35px;
                width: 100%;
                button{
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                    width: 200px;
            		height: 35px;
            		border: none;
            		outline: none;
            		color: #fff;
            		background-color: $active-filters;
            		border-radius: 20px;
            		font-size: 14px;
            		font-family: 'Roboto', sans-serif;
                }
            }
        }
    }
}
.hotel-general-info-wrapper{
    width: 100%;
    padding: 15px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    .single-info-map{
        position: relative;
        display: inline-block;
        width: 60%;

        @include breakpoint(tablet){

            width: 100%;
        }
        .single-hotel-map-view{
            width: 100%;
            height: 100%;
            .single-map-icon-wrapper{
            	position: absolute;
                width: 35px;
                height: 35px;
                left: calc(-35px / 2);
                top: calc(-35px);
            	.single-hotel-marker{
            	  background-image: url(assets/images/maps/map-icon.png);
            	  background-size: 100% auto;
            	  width: 35px;
            	  height: 35px;
            	  margin: 0 auto;
            	}
            }
        }
        .view-map-button{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2.5px 5px;
            cursor: pointer;
            background-color: rgba(255,255,255,0.6);
            .text{
                display: inline-block;
                margin-top: -22px;
                vertical-align: middle;
                color: $active-filters;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
            div{
                vertical-align: baseline;
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                padding: 11.5px;
                background-color: $active-filters;
                span{
                    display: block;
                    margin: 0 auto;
                    width: 7.5px;
                    height: 7.5px;
                    background-image: url(assets/images/icons/cross.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% auto;
                }
            }
        }
        .gmnoprint{
            display: none;
        }
        .gmnoprint{
            display: none;
        }
        .gm-style-cc{
            display: none;
        }
    }
    .info{
        display: inline-block;
        width: 40%;
        @include breakpoint(tablet){
            width: 100%;
        }
        ul{
            list-style: none;
            padding-left: 0;
            padding-left: 30px;
            margin: 0;
            @include breakpoint(tablet){
                margin-top: 15px;
                padding-left: 0;
            }
            li{
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                text-transform: capitalize;
                padding-bottom: 20px;
                font-size: 12px;
                color: #282828;
                span{
                    font-weight: 700;
                    text-transform: none;
                }
            }
            .homepage-link{
                font-weight: normal;
                text-transform: none;
                padding-bottom: 0;
                vertical-align: middle;
                a{
                    text-decoration: none;
                    color: $active-filters;
                }
                .text{
                    display: inline-block;
                    margin-top: -22px;
                    vertical-align: middle;
                }
                div{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    padding: 5px;
                    background-color: $active-filters;
                    span{
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-image: url(assets/images/icons/link-icon.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% auto;
                    }
                }
            }
        }
    }
}

.media-section, .awards-section{
    background-color: #fff;
    .media-section-header-wrapper, .awards-section-header-wrapper{
        padding: 50px 0;
        .section-1{
            display: inline-block;
            @include breakpoint(mobile){
                display: block;
                margin: 0 auto;
            }
            .score{
                display: inline-block;
                width: 90px;
                height: 90px;
                border-radius: 45px;
                border: 1px solid #d1beab;
                background: #fff;
                padding: 30px;
                @include breakpoint(mobile){
                    display: block;
                    margin: 0 auto;
                }
                p{
                    color: #d1beab;
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 0;
                    font-family: 'Questrial', sans-serif;
                }
            }
        }
        .section-2{
            display: inline-block;
            @include breakpoint(mobile){
                display: block;
                margin: 0 auto;
                text-align: center;
            }
            .section-icon{
                vertical-align: middle;
                width: 44px;
                height: 44px;
                margin: 0 30px;
                display: inline-block;
                background-image: url(assets/images/icons/sg-opinion-gold.svg);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                @include breakpoint(mobile){
                    margin: 0 15px;
                }
            }
            .section-title{
                vertical-align: middle;
                font-size: 25px;
                font-family: 'baron_neueblack';
                display: inline-block;
                text-transform: lowercase;
                @include breakpoint(mobile){
                    font-size: 14px;
                }
            }
        }
    }
}

.awards-section{
    .awards-section-header-wrapper{
        .section-2{
            .section-icon{
                background-image: url(assets/images/icons/sg-awards-gold.svg);
            }
        }
    }
    .awards-section-body-wrapper{
        padding-top: 20px;
        background-color: #f6f4f4;
        .awards-section-body{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            align-content: center;
            flex-wrap: wrap;
            .award-item-wrapper{
                width: 320px;
                margin: 0 20px;
                margin-bottom: 20px;
                padding: 50px;
                background-color: #fff;
                box-shadow: 0px 0px 10px rgba(42,51,58, .5);
                .award-item{
                    p{
                        span{
                            font-weight: 700;
                            font-size: 14px;
                        }
                    }
                    .award-item-header{
                        margin-bottom: 15px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .award-item-body{
                        .name{
                            text-align: center;
                            font-size: 20px;
                            font-family: 'baron_neueblack';
                            text-transform: lowercase;
                            color: #282828;
                        }
                        p{
                            font-family: 'Roboto', sans-serif;
                            font-weight: 700;
                            text-align: center;
                            font-size: 12px;
                        }

                    }
                    .devider{
                        width: 50px;
                        height: 3px;
                        margin: 25px auto;
                        background-color: #d1beab;
                    }
                    .award-item-footer{
                        .type{
                            text-align: center;
                            font-size: 14px;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            font-style: italic;
                            color: #282828;
                        }
                    }
                }
            }
            .award-item-wrapper-2{
                width: calc(50% - 20px);
                margin: 0 10px;
                margin-bottom: 20px;
                padding: 25px;
                background-color: #fff;
                box-shadow: 0px 0px 10px rgba(42,51,58, .5);
                .award-item-2{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-content: stretch;
                    p{
                        span{
                            font-weight: 700;
                            font-size: 14px;
                        }
                    }
                    .award-item-header{
                        margin-bottom: 15px;
                        p{
                            margin-bottom: 20px;
                            font-family: 'baron_neueblack';
                            text-transform: lowercase;
                            font-size: 16px;
                            color: #d1beab;
                        }
                    }
                    .award-item-body{
                        flex-grow: 1;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        .section-left{
                            display: inline-block;
                            width: 33.333%;
                            .award-item-icon{
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                        .section-right{
                            display: inline-block;
                            width: 66.666%;
                            .source{
                                margin-bottom: 20px;
                                font-family: 'baron_neueblack';
                                text-transform: lowercase;
                                font-size: 16px;
                                color: #d1beab;
                            }
                            .name{
                                text-align: left;
                                font-size: 20px;
                                font-family: 'baron_neueblack';
                                text-transform: lowercase;
                                color: #282828;
                            }
                            p{
                                font-family: 'Roboto', sans-serif;
                                font-weight: 700;
                                text-align: left;
                                font-size: 12px;
                            }
                        }
                    }
                    .award-item-footer{
                        .devider{
                            width: 100%;
                            height: 3px;
                            margin: 25px auto;
                            background-color: #d1beab;
                        }
                        .award-item-type{
                            .type{
                                text-align: center;
                                font-size: 14px;
                                font-family: 'Roboto', sans-serif;
                                font-weight: 300;
                                font-style: italic;
                                color: #282828;
                            }
                        }
                    }
                }
                @include breakpoint(tablet){
                    .award-item-2{
                        .award-item-body{
                            flex-direction: column;
                            justify-content: flex-end;
                            .section-left, .section-right{
                                width: 100%;
                            }
                        }
                    }
                }
                @include breakpoint(mobile){
                    width: 100%;
                }
            }
        }
    }
}

.media-section{
    .media-section-header-wrapper{
        .section-2{
            .section-icon{
                background-image: url(assets/images/icons/sg-opinion-gold.svg);
            }
        }
    }
    .media-section-body-wrapper{
        padding-top: 20px;
        background-color: #f6f4f4;
        .media-section-body{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            align-content: center;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                width: calc(50% - 20px);
                box-shadow: 0px 0px 10px rgba(42,51,58, .5);
                padding: 45px;
                margin: 0 10px;
                margin-bottom: 20px;
                background-color: #fff;
                @include breakpoint(tablet){
                    width: calc(100% - 20px);
                }
            }
            .opinion-item-wrapper{
                background-color: #fff;
                .opinion-item{
                    .opinion-item-header{
                        margin-bottom: 20px;
                        margin-bottom: 20px;
                        font-family: 'baron_neueblack';
                        text-transform: lowercase;
                        font-size: 16px;
                        color: #d1beab;
                    }
                    .opinion-item-body{
                        .content{
                            font-size: 14px;
                            color: #282828;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                    .opinion-item-footer{
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 12px;
                        color: $active-filters;
                        a{
                            text-decoration: none;
                            color: $active-filters;
                        }
                    }
                }
                &.no-link{
                    width: calc(50% - 20px);
                    box-shadow: 0px 0px 10px rgba(42,51,58, .5);
                    padding: 45px;
                    margin: 0 10px;
                    margin-bottom: 20px;
                    background-color: #fff;
                    @include breakpoint(tablet){
                        width: calc(100% - 20px);
                    }
                }
                &.link{
                    width: 100%;
                }
            }
        }
    }
}
.big-score-circle {
	position: relative;
	display: block;
	margin: 0 auto;
	svg {
		width: 90px;
		height: 90px;
        @include breakpoint(tablet){
          width: 65px;
          height: 65px;
        }
        path{

        }
	}
    svg:nth-child(2) {
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
    }
	path {
		stroke-width: 4;
		stroke-linecap: round;
	}
	&__circle {
    	background-color: rgba(255,255,255,.3);
        border-radius: 50%;
        width: 86px;
        height: 86px;
        margin: 0 auto;
        @include breakpoint(tablet){
          width: 65px;
          height: 65px;
        }
	}

  	&__text {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: 1;
	    text-align: center;
	    font-family: 'Questrial', sans-serif;

	    &__primary {
			font-size: 25px;
            @include breakpoint(tablet){
              font-size: 20px;
            }
	    }
  	}
}
.small-score-circle {
    position: relative;
    display: block;
    margin: 0 auto;
    svg {
        width: 60px;
        height: 60px;
    }
    path {
        stroke-width: 4;
        stroke-linecap: round;
    }
    &__circle {

    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        text-align: center;
        font-family: 'Questrial', sans-serif;
        &__primary {
            font-size: 25px;
            color: #fff;
        }
    }
}
.rating-cards-wrapper{
    width: 100%;
    padding-top: 20px;
    .rating-cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: middle;
        align-content: space-around;
        flex-wrap: wrap;
        .ratings-card{
            margin-bottom: 20px;
            @media (max-width: 991px){
        		width: 100%;
        	}
        	@media (min-width: 992px){
                width: calc((100% / 2) - 10px);
        	}
        	@media (min-width: 1200px) {
    			width: calc((100% / 3) - 10px);
        	}
            box-shadow: 0px 0px 10px rgba(42,51,58, .5);
            .ratings-card-header{
                width: 100%;
                height: 90px;
                background-color: #2a333a;
                .card-score{
                    width: 90px;
                    height: 90px;
                    padding: 15px;
                    display: inline-block;
                    .small-score-circle {
                    	position: relative;
                    	display: block;
                    	margin: 0 auto;
                    	svg {
                    		width: 60px;
                    		height: 60px;
                    	}
                        path {
                    		stroke-width: 4;
                    		stroke-linecap: round;
                    	}
                    	&__circle {

                    	}

                      	&__text {
                    	    display: flex;
                    	    flex-direction: column;
                    	    justify-content: center;
                    	    width: 100%;
                    	    height: 100%;
                    	    position: absolute;
                    	    z-index: 1;
                    	    text-align: center;
                            font-family: 'Questrial', sans-serif;
                    	    &__primary {
                    			font-size: 25px;
                    			color: #fff;
                    	    }
                      	}
                    }
                }
                .type-wrapper{
                    display: inline-block;
                    width: calc(100% - 90px);
                    padding-right: 10px;
                    .type{
                        display: inline-block;
                        height: 100%;
                        display: table-cell;
                        vertical-align: middle;
                        .main{
                            color: #fff;
                            font-family: 'baron_neueblack';
                            font-size: 14px;
                            margin-bottom: 0;
                            span{
                                color: #848585;
                                display: inline;
                            }
                        }
                        .extra{
                            color: #848585;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .ratings-card-body{
                width: 100%;
                background-color: #fff;
                padding: 15px;
                p{
                    font-size: 14px;
                    color: #282828;
                    margin-bottom: 0;
                    font-family: 'Roboto', sans-serif;
                }
            }
            &.1-col{
                align-self: flex-start;
            }
            &.2-col{
                align-self: center;
            }
            &.3-col{
                align-self: flex-end;
            }
        }
        .ratings-card-blank{
            margin-bottom: 20px;
            opacity: .5;
            @media (max-width: 991px){
        		width: 100%;
        	}
        	@media (min-width: 992px){
                width: calc((100% / 2) - 10px);
        	}
        	@media (min-width: 1200px) {
    			width: calc((100% / 3) - 10px);
        	}
            box-shadow: 0px 0px 10px rgba(42,51,58, .5);
            .ratings-card-header{
                width: 100%;
                height: 90px;
                background-color: #2a333a;
                display: flex;
                justify-content: center;
                align-items: center;
                .type-wrapper{
                    display: inline-block;
                    width: calc(100% - 90px);
                    padding-right: 10px;
                    .type{
                        height: 100%;
                        vertical-align: middle;
                        text-align: center;
                        .main{
                            color: #fff;
                            font-family: 'baron_neueblack';
                            font-size: 14px;
                            margin-bottom: 0;
                            span{
                                color: #848585;
                                display: inline;
                            }
                        }
                        .extra{
                            color: #848585;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 300;
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .ratings-card-body{
                width: 100%;
                background-color: #fff;
                padding: 15px;
                p{
                    font-size: 14px;
                    color: #282828;
                    margin-bottom: 0;
                    font-family: 'Roboto', sans-serif;
                }
            }
            &.1-col{
                align-self: flex-start;
            }
            &.2-col{
                align-self: center;
            }
            &.3-col{
                align-self: flex-end;
            }
        }
    }
}
.claimtofame-section{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    .ctf-no-note-item-wrapper{
        width: 350px;
        margin-bottom: 20px;
        display: inline-block;
        .ctf-no-note-item{
            width: 100%;
            min-height: 70px;
            padding: 25px;
            background-color: #fff;
            &:nth-child(1){
                margin-bottom: 20px;
            }
            p{
                text-align: center;
                color: #282828;
                font-family: 'baron_neueblack';
                font-size: 14px;
                text-transform: lowercase;
            }
        }
    }
    .ctf-note-item-wrapper{
        width: 350px;
        margin-bottom: 20px;
        display: inline-block;
        box-shadow: 0px 0px 10px rgba(42,51,58, .5);
        background-color: #fff;
        .ctf-note-item{
            width: 100%;
            min-height: 140px;
            padding: 25px;
            .ctf-note-item-header{
                p{
                    text-align: center;
                    color: #282828;
                    font-family: 'baron_neueblack';
                    font-size: 14px;
                    text-transform: lowercase;
                }
            }
            .devider{
                width: 50px;
                height: 3px;
                margin: 25px auto;
                background-color: #d1beab;
            }
            .ctf-note-item-footer{
                p{
                    text-align: center;
                    color: #282828;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                }
            }
        }
    }
}
.general-ctf-section{
    background-color: #f6f4f4;
    padding: 60px 0;
    .hotel-grid{
        background-color: #f6f4f4;
    }
}
.review-section{
    background-color: #fff;
    .review-section-header-wrapper{
        padding: 50px 0;
        .review-section-header{
            .header-section{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                @include breakpoint(mobile){
                    flex-direction: column;
                }
                .section-1{
                    display: inline-block;
                    @include breakpoint(mobile){
                        display: block;
                        margin: 0 auto;
                    }
                    .score{
                        display: inline-block;
                        width: 90px;
                        height: 90px;
                        @include breakpoint(mobile){
                            display: block;
                            margin: 0 auto;
                        }
                        p{
                            color: #d1beab;
                            font-size: 30px;
                            text-align: center;
                            margin-bottom: 0;
                            font-family: 'Questrial', sans-serif;
                        }
                    }
                }
                .section-2{
                    vertical-align: middle;
                    display: inline-block;
                    @include breakpoint(mobile){
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                    }
                    .section-icon{
                        vertical-align: middle;
                        width: 44px;
                        height: 44px;
                        margin: 0 32px;
                        display: inline-block;
                        background-image: url(assets/images/icons/sg-logo-gold.svg);
                        background-repeat: no-repeat;
                        background-size: 30px;
                        background-position: center;
                        @include breakpoint(mobile){
                            margin: 0 15px;
                        }
                    }
                    .section-title{
                        vertical-align: middle;
                        font-size: 25px;
                        font-family: 'baron_neueblack';
                        display: inline-block;
                        text-transform: lowercase;
                        @include breakpoint(mobile){
                            font-size: 14px;
                        }
                    }
                }
            }
            .footer-section{
                .room-category{
                    width: 100%;
                    display: block;
                    font-size: 25px;
                    font-family: 'baron_neueblack';
                    text-transform: lowercase;
                    @include breakpoint(mobile){
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
