@keyframes spin { 100% {transform:rotate(360deg);} }
@keyframes antispin {
  from {transform: rotate}
  to {transform: rotate(-360deg);}
}

.preloader-wrapper{
    width: 100%;
    height: 100vh;
    background-color: #2a333a;
}

.preloader {
    width: 100%;
    height: 100%;
    background: url(assets/images/sg-pathern.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spinner{
    position: relative;
    .spin {
        width: 150px;
        height: 150px;
        top: 0;
        left: calc(50% - 75px);
        border: 3px solid transparent;
        border-radius: 50%;
        border-top-color: #c72c54;
        position: absolute;
        animation: spin 1500ms infinite linear;
    }

    .spin:before {
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 3px solid transparent;
        border-top-color: #c72c54;
        animation: antispin 700ms infinite linear;
        content: "";
        position: absolute;
        border-radius: 60%;
    }
    svg {
        width: 112px;
        left: 50%;
        height: 80px;
        margin-top: 35px;
        margin-left: -56px;
        position: relative;
    }
    .text{
        color: #fff;
        text-align: center;
        margin-top: 100px;
        h1{
            font-family: 'baron_neueregular';
            text-transform: uppercase;
        }
    }
}
