#subpage-header{
    position: fixed;
   	top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background: $mudblue;
    height: 60px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.75);
}

#hotel-hero{
    margin-top: 80px;
    height: 625px;
    padding-bottom: 25px;
    @include breakpoint(tablet){
        height: 450px;
    }
    .slick-list{
        padding: 0;
        @include breakpoint(tablet){
			padding: 0px 60px;
		}
    }
}

#list-view-link{
	cursor: pointer;
    position: absolute;
    left: 50px;
    top: 25px;

		&:before{
			content:'';
			position: absolute;
			top: 4px;
			left: -15px;
			width: 10px;
			height: 10px;
			background: url(assets/images/icons/back-link-arrow.png);
			background-repeat: no-repeat;
			background-size: 4px 10px;
			transform: rotate(360deg);
			transition: transform .3s ease;
		}

		&:hover{
			&:before{
				content:'';
				position: absolute;
				top: 4px;
				left: -15px;
				width: 10px;
				height: 10px;
				background: url(assets/images/icons/back-link-arrow-active.png);
				background-repeat: no-repeat;
				background-size: 4px 10px;
				transform: rotate(0deg);
			}
		}

}

.small-logo{
	width: 65px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 0;

		img{
			height: 58px;
            width: auto;
		}
}

#map-view-button{
	background: none;
	position: absolute;
	right: 40px;
	width: 60px;
	height: 60px;
	top: 0;


		&:before{
			top: 16px;
			transform: scale(.8,.8);
			transition: transform .15s ease;
		}

		&:hover{
				&:before{
					top: 16px;
					transform: scale(.9,.9);
				}
		}
}
