$input-color: #272727 !global;
$base-font-color: #2d2f32 !global;

$button-bg: #2d2f32 !global;
$button-font-color: #fff !global;
$collapsed-filters: #1d1d1d !global;
$active-filters: #c62750 !global;

$searchbutton-bg: #ebebeb !global;
$mapviewbutton-bg: #ccc !global;

$linkdivider-color: #777879 !global;
$linkcolor: #2d2f32 !global;
$activelinkcolor: #cd4f70 !global;
$mudblue: #2a333a !global;

@mixin breakpoint($point) {

  @if $point == mobile {
    @media (max-width: 667px) { @content; }
  }

  @if $point == mobileLandscape {
    @media (max-width: 736px) and (max-height: 414px){ @content; }
  }

  @if $point == tablet {
    @media (max-width: 769px) { @content; }
  }

  @if $point == smallscreen {
    @media (max-width: 991px) { @content; }
  }

  @if $point == grid {
    @media (min-width: 1100px) { @content; }
  }

  @if $point == retina {
 	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
  }

}

@mixin no-outline{
	&:focus{
		outline: 0;
		outline: none;
	}
}

@mixin flex-parent{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}
